<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <http auto-config="true">
        <intercept-url pattern="/user/**" access="hasRole('ROLE_USER')"/>
        <!--<intercept-url pattern="/**" access="isAuthenticated()" />-->
        <!-- http Basic认证 -->
        <http-basic></http-basic>
    </http>


    <oauth2:resource-server id="resource-a" token-services-ref="tokenServices">
    </oauth2:resource-server>

    <beans:bean id="tokenServices"
                class="org.springframework.security.oauth2.provider.token.RemoteTokenServices">
        <beans:property name="checkTokenEndpointUrl" value="http://127.0.0.1:9091/auth/oauth/check_token"></beans:property>
    </beans:bean>

</beans:beans>